.common-padding {
    padding: 5 0 0 0;
    -fx-padding: 5 0 0 0;
}

.h2 {
    font-size: 21px;
    -fx-font-size: 21px;

    font-weight: bold;
    -fx-font-weight: bold;

    -fx-text-fill: red;

    padding: 5 0 5 10 ;
    -fx-padding: 5 0 5 10;
}

.label-key {
    font-size: 16px;
    -fx-font-size: 16px;

    font-weight: bold;
    -fx-font-weight: bold;

    -fx-text-fill: black;

    font-style: italic;
    -fx-font-style: italic;

    -fx-alignment: center left;
}

.label-value {
    font-size: 16px;
    -fx-font-size: 16px;

    -fx-text-fill: black;

    font-style: italic;
    -fx-font-style: italic;

    -fx-alignment: center right;
}

.img-book {
    -fx-image: url(../assets/images/book-icon.png);
}

.wrapper-right {
    -fx-alignment: baseline-right;
}
